body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fb;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

h2 {
  color: #555;
  font-weight: normal;
}

p {
  margin: 20px 0;
  color: #666;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e3a8a;
  color: white(238, 230, 230);
  padding: 15px 40px;
}

.navbar h2 {
  margin: 0;
  color: white;
}

.navbar button {
  background: white;
  color: #1e3a8a;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
input {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}